.form__container {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
    margin-top: 10px;
    border-bottom: 2px solid #d2d2d2;
    margin-bottom: 0;
}

.main__container {
    width: fit-content;
    height: fit-content;
}

.form__field {
    font-weight: 600;
    font-family: inherit;
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #212121;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.3s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
    font-size: 16px;
    cursor: text;
    top: 20px;
}

label,
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 12px;
    color: #9b9b9b;
}

label,
.form__field:hover ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.3s;
    font-size: 12px;
    color: #9b9b9b;
}

.form__field:focus ~ .unit__label {
    color: #009792
}

.form__label {
    font-weight: 500;
}

.unit__label {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    margin-left: 5px;
}

.form__field:focus ~ .form__label {
    color: #009792;
}

.form__container:focus-within {
    border-bottom: 2px solid #009792;
    transition: 0.3s;
}

.form__error {
    color: red;
    width: fit-content;
    position: relative;
    font-weight: 500;
}

.error__container {
    padding-left: 20px;
    margin-top: 3px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    height: fit-content;
    width: fit-content;
}
