.screen {
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.input__field {
    width: 40vw;
    margin: 15px;
}

.input__container {
    justify-content: space-between;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.button__container {
    justify-content: space-evenly;
    display: flex;
    margin-top: 35px;
    width: 100%;
}

.surface {
    background-color: azure;
    padding: 15px;
    margin: 15px auto auto;
    width: 90%;
    height: 75vh;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.bar__title {
    color: #007570;
}

.app__bar {
    display: flex;
    padding-left: 20px;
    align-items: center;
    position: relative;
    top: 0;
    height: 60px;
    background-image: linear-gradient(#ceffff, azure);
}
